/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$helvetica: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;

/* Definitions */
$body-font: $helvetica;
$heading-font: $helvetica;

/* Sizes */
$font-xs: 14px !default;
$font-sm: 15px !default;
$font-lg: 16px !default;

/*
Colors
 */
// brand color function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$gray-dark: #404040;
$gray-darker: #111;
$gray-light: #EEE;

$brand-colors: (
  'blue': #1B2139,
  'yellow': #FFB218,
  'green': #3D885F
);

/* Definitions */
$border-color: $gray-light;
$footer-bg-color: darken($border-color, 2.5%);
$link-color: lighten(brand-color('blue'), 10%);

$text-color: $gray-dark;
$text-color--dark: $gray-darker;

$accent-color: brand-color('yellow');
$nav-bg-color: $accent-color;

$headline-color: brand-color('green');

// social colors
$facebook: #415696;
$twitter: #4FA6DD;

/*
Screen widths
 */
$width-xs: 35rem !default;
$width-sm: 48rem !default;
$width-md: 62rem !default;
$width-lg: 75rem !default;

/*
Margins
 */
$margin-p: 1.3rem;
