/**
 * _content.scss
 */

/*
Global
 */
.site {
  background-color: white;
}
.site-content {
  padding: 3rem 0;

  @include break-sm {
    padding: 5rem 0;
  }
}
body:not(.home) {
  .site-content {
    // spacing for fixed mobile menu
    &:before {
      content: "";
      display: block;
      height: 62px;

      @include break-sm {
        display: none;
      }
    }
  }
}

/*
Pages
 */
.page {
  .entry-title {
    color: $heading-color;
  }
}
.page-header {
  border-bottom: 1px solid $border-color;
}

/*
Blog
 */
.blog, .search, .archive {
  .hentry {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid $border-color;
    text-align: center;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }

    @include break-sm {
      text-align: left;
    }
  }
}
.search, .archive {
  .site-content {
    padding-bottom: 0;
  }
}

.entry-content {
  p.p1 {
    padding: 0 !important;
  }

  /* Videos */
  iframe {
    display: block;
    margin: 0 auto;
    min-width: 100%;
  }
}
.entry-image {
  img {
    @include image-service;

    @include break-sm {
      max-height: 200px;
      width: auto;
      float: right;
    }
  }
}

/* Captions */
.wp-caption {
  margin: 0;
  background-color: lighten($border-color, 7.5%);

  .wp-post-image {
    margin-bottom: 0;
  }
  .wp-caption-text {
    padding: 0.25rem 0.75rem 0.5rem;
    color: lighten($text-color, 32.5%);
  }
}
.wp-caption, .wp-post-image {
  margin-bottom: $margin-p;
}

/* Margins */
.services-parent-page,
.about-page {
  .entry-content h2 {
    margin-top: 0;
  }
}

/*
Comments
 */
p.form-submit {
  margin: 0;
}

/*
Navigation
 */
.comment-navigation,
.posts-navigation,
.post-navigation {
  margin: 0 0 $margin-p;
  overflow: hidden;
}
.nav-previous,
.nav-next {
  width: 50%;
}
.nav-previous {
  float: left;
}
.nav-next {
  float: right;
  text-align: right;
}

/*
Services
 */
.service-section--inner {
  position: relative;
  padding: 2.5rem 0;
}
.service-section--item {
  p {
    margin: 0 0 1rem;
  }
}
.service-section--headline {
  font-weight: 600;
}

/* Accented */
.section--accented {
  position: relative;
  padding: 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 150%;
    height: 5rem;
    margin-left: -25%;
    background-color: white;
    z-index: 1;
  }
  &:before {
    transform: rotate(4deg);
  }
  &:after {
    transform: rotate(-4deg);
  }
}
