/**
 * _content.scss
 */

.site {
  background-color: white;
}
.site-content {
  padding: 2rem 0;
}

/*
Posts
 */
.entry-content {
  p.p1 {
    padding: 0 !important;
  }
}

/*
Comments
 */
p.form-submit {
  margin: 0;
}

/*
Navigation
 */
.comment-navigation,
.posts-navigation,
.post-navigation {
  margin: 0 0 $margin-p;
  overflow: hidden;
}
.nav-previous,
.nav-next {
  width: 50%;
}
.nav-previous {
  float: left;
}
.nav-next {
  float: right;
  text-align: right;
}
