/**
 * _fonts.scss
 */

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg?#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?#fontello') format('svg');
  }
} */

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  // margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e803'; } /* '' */
.icon-left-open-mini:before { content: '\e804'; } /* '' */
.icon-right-open-mini:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-facebook-circled:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-down-dir:before { content: '\e80c'; } /* '' */
.icon-instagram-circled:before { content: '\e80d'; } /* '' */
.icon-twitter-circled:before { content: '\e80e'; } /* '' */
.icon-instagram:before { content: '\e80f'; } /* '' */
.icon-linkedin-circled:before { content: '\e810'; } /* '' */