/**
 * _footer.scss
 */

.site-footer {}

/*
Footer Top
 */
.footer-top {
  padding: 3rem 0;
}
.footer-top--logo {
  display: block;
  margin: 0 auto 1.5rem;
  max-width: 225px;
}
.footer-top--contact {
  list-style-type: none;

  span {
    color: $heading-color;
  }
  a {
    @include link-color($text-color);
  }
}

/*
Footer Bottom
 */
.footer-bottom {
  background: linear-gradient($footer-bg-color, darken($footer-bg-color, 4%));
}

/*
Sticky Footer
 */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1 1 auto;
}
