/**
 * _header.scss
 */

.site-header {
  padding: 1.0rem 0;
  background-color: $nav-bg-color;

  @include break-sm {
    padding: 1.5rem 0;
  }
}
.site-header--column {
  flex: 1;

  &:first-of-type {
    ul {
      float: right;
    }
  }
}
.site-branding {
  text-align: center;
}
.site-branding,
.main-navigation li {
  padding: 0 1rem;

  @include break-sm {
    padding: 0 1.5rem;
  }
}

body:not(.home) {
  .site-header--column {
    &:nth-of-type(2) {
      max-width: 325px;
    }
  }
}

/*
Navigation
 */
.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: table-cell;
  }
  a {
    font-weight: 600;
    text-transform: uppercase;
  }
}
